.sidebar {
  padding-top: $space;
  width: 20%;
  float: right;
  text-align: center;
  background: $light-grey;
  height: calc(100vh - $space);
}

.sidebar__form {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}